main {
    min-height: calc(100vh - 100px);
}

.detailsHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.detailsButton {
    background-color: transparent; 
    color: #ffffff; 
    font-size: 1em; 
    cursor: pointer; 
    margin-top: 10px;
    padding-left: 2px;
    display: flex;
}


.additionalInfo {
    margin-top: 15px; 
    background-color: #f53b3bd2; 
    padding: 15px;
    border-radius: 8px;
}

body {
    font-family: Arial, sans-serif;
    color: white;
}

h2 {
    color: #ffffff;
    font-size: 23px;
    font-weight: bol;
}

p {
    font-size: 14px;
    font-style: italic;
    margin-bottom: 0px;
}


p.estrellas {
    font-size: 20px;
    color: orange;
    text-align: end;
    font-style: normal;
}

.article {
    border: 1px solid #c93030d2;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
}

#filmDetails {
    background: rgba(206, 49, 49, 0.9);
    padding: 20px;
    border-radius: 5px;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0);
}

.album {
    padding-left: 60px;
    padding-right: 60px;
}
